{% extends 'layout.html.twig'%}
{% block content %}

<div class="main-container">


        <div class="side-panel">

            <div class="user-profile-container">
                <h3 class="ee">EE M2M</h3>
            </div>

        <div class="menu-options-container">
            <a class="menu-option" href="{{ register }}"><i class="fas fa-user-plus"></i>Add User</a>
        </div>

            <div class="logout-container">
                <a class="logout" href="{{ logout }}">Log Out</a>
            </div>

        </div>


        <main>


            <h1>Messages</h1>

            <div class="line"></div>

            {% for messages in message_array%}
                <div class="message-box">

                    <div class="date-time">

                        <h5 class="date">{{messages['time']}}</h5>

                    </div>

                    <div class="message-container">
                        <h2 class="message-name">{{messages['group_id']}}</h2>
                        <h3 class="message-phone-number">{{messages['source']}}</h3>
                    </div>

                    <div class="line2"></div>

                    <div class="message-boxes">
                        <div class="col">
                            <h4>Switch 1</h4>
                            <p class="message-status">{{messages['switch_1']}}</p>
                        </div>

                        <div class="col">
                            <h4>Switch 2</h4>
                            <p class="message-status">{{messages['switch_2']}}</p>
                        </div>

                        <div class="col">
                            <h4>Switch 3</h4>
                            <p class="message-status">{{messages['switch_3']}}</p>
                        </div>

                        <div class="col">
                            <h4>Switch 4</h4>
                            <p class="message-status">{{messages['switch_4']}}</p>
                        </div>
                    </div>

                    <div class="line2"></div>

                    <div class="message-boxes">
                        <div class="col">
                            <h4>Temperature</h4>
                            <p class="message-status">{{messages['temperature']}}</p>
                        </div>

                        <div class="col">
                            <h4>Fan</h4>
                            <p class="message-status">{{messages['fan']}}</p>
                        </div>

                        <div class="col">
                            <h4>Last Number</h4>
                            <p class="message-status">{{messages['last_key']}}</p>
                        </div>
                    </div>




                </div>
            {% endfor %}

    </div>



    </main>


    </div>
{% endblock %}